<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.aamani.dealingmart"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="9"
        android:targetSdkVersion="18" />

    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="com.google.android.c2dm.permission.RECEIVE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <permission
        android:name="com.aamani.dealingmart.permission.C2D_MESSAGE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.aamani.dealingmart.permission.C2D_MESSAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logo_final"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.aamani.dealingmart.activities.SplashActivity"
            android:screenOrientation="portrait" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.aamani.dealingmart.activities.HomeActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aamani.dealingmart.activities.ProductDetailActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aamani.dealingmart.activities.FullImageActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aamani.dealingmart.activities.ShoppingCartActivity"
            android:screenOrientation="portrait" >
        </activity>

        <service android:name="com.aamani.dealingmart.services.FetchCategoriesService" >
        </service>

        <activity
            android:name="com.aamani.dealingmart.activities.LoginActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aamani.dealingmart.activities.ShippingAddressActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aamani.dealingmart.activities.OrderSummaryActivity"
            android:screenOrientation="portrait" >
        </activity>
        <activity
            android:name="com.aamani.dealingmart.activities.PaymentActivity"
            android:screenOrientation="sensorLandscape" >
        </activity>

        <service android:name="com.aamani.dealingmart.services.GcmRegistrationService" >
        </service>

        <receiver
            android:name="com.aamani.dealingmart.receiver.GcmBroadcastReceiver"
            android:permission="com.google.android.c2dm.permission.SEND" >
            <intent-filter>
                <action android:name="com.google.android.c2dm.intent.RECEIVE" />

                <category android:name="com.aamani.dealingmart" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.crashlytics.ApiKey"
            android:value="76f84191b2211b9ae292e972235130da8bc5812c" />

        <activity
            android:name="com.aamani.dealingmart.activities.DisplayContactActivity"
            android:theme="@android:style/Theme.DeviceDefault.Dialog.NoActionBar" >
        </activity>
    </application>

</manifest>